{% extends 'blog_zapravschika/index.html' %}

{% block content %}
    <div class="col">
        <h3 class="adress">Коммисионный магазин "ЖЕЛЕЗЯКА"</h3>
        <div class="map-responsive">
            <iframe id="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.1099127893876!2d55.11335071559304!3d51.76759779946618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x417bf0c6dff93bff%3A0xa68c0bd8eb0d8d96!2z0KLRg9GA0LrQtdGB0YLQsNC90YHQutCw0Y8g0YPQuy4sIDUsINCe0YDQtdC90LHRg9GA0LMsINCe0YDQtdC90LHRg9GA0LPRgdC60LDRjyDQvtCx0LsuLCA0NjAwMjQ!5e0!3m2!1sru!2sru!4v1563432008786!5m2!1sru!2sru" width="600" height="400" frameborder="0" style="border:ridge" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}