{% extends 'blog_zapravschika/index.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="detailed_post">
        {% if request.user.is_staff %}
            <a href="{% url 'post_edit' id=post.id slug=post.slug %}" rel="modal:open"><i class="far fa-edit"></i></a>
            <h3 class="em_text">{{ post.title }}</h3>
        {% else %}
            <h3 class="em_text">{{ post.title }}</h3>
        {% endif %}
        <h6>{{ post.published_date }}</h6>
        <div class="content_section_01">
            {{ post.text | safe }}
        </div>
        <div class="disqus">
            <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.title = '{{ post_title }}';
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://refill56-ru.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                                
        </div>
    </div>
{% endblock %}
